body {
	margin: 0px;
	padding: 0px;
	display: block;
}

html {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: AmaticSC;
	src: url("../fonts/amatic/AmaticSC-Regular.ttf");
}
@font-face {
	font-family: AmaticSC-BOLD;
	src: url("../fonts/amatic/Amatic-Bold.ttf");
}

/* NAVBAR */
#nav {
	width: 100%;
	height: 50px;
	margin: auto;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #02c9c9;
}

.navcontainer {
	float: right;
	margin: 0 auto;
	min-width: 675px;
}

.navbartext {
	list-style-type: none;
	margin: 0px 50px 0px 0px;
	padding: 0px;
	display: inline;
	text-transform: uppercase;
	font-family: "Myanmar Sangam MN";
	letter-spacing: 2px;
	font-size: 15px;
}

#nav a:link {
	color: white;
	text-decoration: none;
}
#nav a:visited {
	color: white;
}
#nav a:hover {
	color: rgba(0,0,0,0.75);
}
#nav a:active {
	color: rgba(0,0,0,0.75);
}

.container {
	width: 750px;
	margin: 0 auto;
	padding: 0;
}

/* BACKGROUND WRAPPER */
/*
.bgwrapper {
	height: auto;
	background-image: url("../images/WEBSITE2.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	margin: 0 auto;
	padding: 0;
}

/* CAROUSEL */


/* HELLO PAGE */

.hellopage h5 {
	color: white;
	text-transform: uppercase;
	font-family: "AmaticSC";
	font-size: 80px;
	text-align: center;
	padding-top: 30%;
	margin: 0;
}

.hellopage h1 {
	color: white;
	text-transform: uppercase;
	font-family: "Myanmar Sangam MN";
	font-size: 100px;
	text-align: center;
	margin: 0;
}

.hellopage {
	height: 100%;
	background-color: #02c9c9;
	background-image: url("../images/BG.png");
	background-repeat: none;
	background-position: center;
}


/* ABOUT PAGE */



.aboutpage h3 {
	color: white;
	font-family: "AmaticSC";
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	margin: 0;
	padding-top: 20%;
	padding-bottom: 0px;
}

.aboutpage p {
	color: rgba(0,0,0,0.75);
	font-family: "Helvetica";
	font-size: 16px;
	text-align: center;
	text-transform: none;
	margin: 0;
	padding-bottom: 10px;
	line-height: 150%;
	height: auto;
	font-weight: 100;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.aboutpage p b {
	color: white;
	letter-spacing: 1.5px;
	font-family: "AmaticSC-BOLD";
	font-size: 25px;
	letter-spacing: 3px;
	margin-top: 100px;
}

.aboutpage {
	min-height: 100%;
	background-color: #1d9aa0;
	margin: 0, auto;
	height: 900px;
}

.third {
	width: 250px;
	min-height: 250px;
	float: left;
}

.text {
	height: 410px;
}
.text:hover {
	background-color: #62adaf;
}

.pen {
	width: 250px;
	height: 250px;
	background-image: url("../images/pen.png");
}

.drums {
	width: 250px;
	height: 250px;
	background-image: url("../images/drums.png");
}

.binoculars {
	width: 250px;
	height: 250px;
	background-image: url("../images/binoculars.png");
}

/*PORTFOLIO PAGE*/

.mindthegapitem {
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 75px;
	padding: 0;
	width: 350px;
	height: 600px;
	float: left;
	position: relative;
	background-image: url("../images/mindthegap.png");
	background-size: cover;
}

.mindthegapitem:hover .textborder {
	visibility: visible;
	opacity: 1;
}

.websiteitem {
	margin: 0 auto;
	margin-top: 75px;
	margin-bottom: 75px;
	padding: 0;
	width: 350px;
	height: 600px;
	float: right;
	position: relative;
	background-image: url("../images/website.png");
	background-size: cover;
}

.websiteitem:hover .textborder {
	visibility: visible;
	opacity: 1;
}

.hovershade:hover {
	background-color: rgba(0, 0, 0, .8);
	height: 600px;
	width: 350px;
}

.textborder {
	height: 550px;
	width: 300px;
	margin: 0 auto;
	padding: 0;
	border: 2px solid white;
	position: absolute;
	top: 23px;
	left: 23px;
	visibility: hidden;
	opacity: 0;
}

.portfoliopage h3{
	color: white;
	font-family: "AmaticSC";;
	font-size: 50px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	margin: 0 auto;
	padding-top: 20%;
}

.portfoliopage h4{
	margin: 0 auto;
	margin-top: 100px;
	padding: 0;
	color: white;
	font-family: "AmaticSC";
	font-size: 25px;
	font-weight: 200;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: center;
}

.portfoliopage p{
	margin: 0 auto;
	padding: 0;
	color: white;
	font-family: "Myanmar Sangam MN";
	font-size: 16px;
	text-align: center;
	text-transform: none;
	width: 250px;
}

.portfolioitemwrapper {
	margin: 0 auto;
	height: 750px;
}

.portfoliopage {
	background-color: #83c9cc;
	margin: 0 auto;
	padding: 0;
	min-height: auto;
}


/* TECHNICAL PAGE */

.technicalpage h3{
	color: white;
	font-family: "AmaticSC";;
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	margin: 0 auto;
	padding-top: 20%;
}

.technicalskillcolumn h2{
	margin: 0 auto;
	padding: 0;
	color: white;
	font-family: "AmaticSC";
	font-size: 35px;
	font-weight: 100;
	text-align: center;
	text-transform: none;
	letter-spacing: 3px;
	margin-top: 5px;
}

.line {
	width: 75%;
	border-top: 2px solid white;
    padding-bottom: 15px;
    margin: 0 auto;
}

.technicalskill p {
	margin: 0 auto;
	padding: 0;
	color: white;
	font-family: "AmaticSC";
	font-size: 24px;
	text-align: center;
	text-transform: none;
	letter-spacing: 2px;
	margin-top: 5px;
}

.technicalskill p b {
	font-family: "AmaticSC-BOLD";
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #23DAFF;
}

.technicalskill {
	height: 100px;
	margin-bottom: 10px;
}

.technicalskillcolumn {
	height: 500px;
	width: 240px;
	background-color: rgba(0, 0, 0, 0.5);
	float: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
}

.technicalskillwrapper {
	padding-top: 10%;
	height: 600px;
}

.technicalpage {
	background-color: #1d9aa0;
	min-height: auto;
}


/* CONTACT PAGE */

.contactpage h3{
	color: white;
	font-family: "AmaticSC";;
	font-size: 45px;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 3px;
	margin: 0 auto;
	padding-top: 20%;
}

.contactpage p {
	color: white;
	font-family: "Myanmar Sangam MN";
	font-size: 16px;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 300;
	margin: 0;
	margin-top: 75px;
	padding: 20px;
}

.column {
	width: 300px;
	float: left;
	background-color: #02c9c9;

}
.contactpage {
	min-height: 85%;
	margin: 0 auto;
	background-image: url("../images/CONTACTIMAGE.jpg");
	background-position: center;

}

/* FOOTER */

.footer p {
	color: white;
	font-family: "Myanmar Sangam MN";
	font-size: 13px;
	text-align: center;
	letter-spacing: 3px;
	font-weight: 300;
	margin: 0;
	padding-top: 15px;
}

.footer {
	min-height: 10%;
	background-color: #424242;
	margin: 0 auto;
}


